
<!-- contact -->
<div class="contact" id="contact">
	<div class="container">
		<h3 class="title-w3-agile">Contact Us</h3>
		<div class="row">
			<div class="col-12 contact-agileits-w3layouts">
				<h5 class="sub">Send us a message</h5>
				<form action="#" method="post">
					<input type="text" class="name" name="Your Name" placeholder="Name" required="" />
					<input type="email" class="email" name="Your Email" placeholder="Email" required="" />
					<input type="text" Name="Phone Number" placeholder="Number" required="" />
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>
<!-- //contact -->