<!-- about -->

<div class="about w3layouts-agileinfo" id="about">
	<div class="container">
		<h3 class="agile-titlew3">Connecting People and <span>Places</span></h3>
		<div class="row about-top w3ls-agile">
			<div class="col-sm-6 red">
				<h5>Travel the world with one of the most <span>experienced travel</span> agencies in the area. Our
					Agency brings to its
					clients <span>over 50 years</span> of combined travel expertise.</h5>
			</div>
			<div class="col-sm-6 about-wel">
				<p>Worldwide options are available to individuals, families, groups and corporate teams that offer the
					convenience of skilled
					planning at extraordinary savings.</p>
				<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis
					autem vel eum iure
					reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>

			</div>
			<div class="clearfix"> </div>
		</div>

		<!-- team -->
		<div class="row team" id="team">

			<h3 class="title-w3-agile">Travelstart Company</h3>
			<div class="col-12 team-grids">
				<div class=row>
					<div class="col-sm-3 ch-item ch-img-1">
						<img src="../../assets/images/images.jfif" alt=" " class="img-circle"
							style="width:100%; height:100%"><br>
					</div>



					<div class="col-sm-3 ch-item ch-img-2">
						<img src="../../assets/images/flight.jpg" alt=" " class="img-circle"
							style="width:100%; height:100%"><br>
					</div>

					<div class="col-sm-3 ch-item ch-img-3">
						<img src="../../assets/images/17.png" alt=" " class="img-circle"
							style="width:100%; height:100%"><br>
					</div>



					<div class="col-sm-3 ch-item ch-img-4">
						<img src="../../assets/images/62f39f83-travelstart-nigeria.jpg" alt=" " class="img-circle"
							style="width:100%; height:100%">
					</div>

				</div>

			</div>
		</div>
	</div>
</div>




<!-- //team -->