
<div id="gallery" class="gallery">
  <div class="container">
    <h3 class="title-w3-agile">Trips</h3>
  </div>
  <div class="agileinfo-gallery-row">
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g1.jpg" alt="" /> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: SFO   </h4>
        <h4>to: LAX</h4>
      </div>
    </a>
    </div>

    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g2.jpg" alt="" /> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: NYC</h4>
        <h4>to: LAX</h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g3.jpg" alt="" /> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: SYD  </h4>
        <h4>to: MEL</h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g6.jpg" alt=""/> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: LAX </h4>
        <h4>to:  LAS </h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g5.jpg" alt=""/> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: Italy</h4>
        <h4>to: UAE</h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g4.jpg" alt="" /> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: Egypt </h4>
        <h4>to: UAE</h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g7.jpg" alt=""/> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: Egypt</h4>
        <h4>to: Italy </h4>
      </div>
    </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../assets/images/g8.jpg" alt="" /> 
      <div class="agile-figcaption">
        <h1>trips place</h1>
        <h4>from: USA </h4>
        <h4>to: Egypt</h4>
      </div>
    </a>
    </div>
    <div class="clearfix"> </div>

  </div>
</div>