<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="gallery" class="gallery">
  <div class="container">
    <h3 class="title-w3-agile">Trips Details</h3>
  </div>
  <div class="agileinfo-gallery-row">
    <div class="col-sm-9  col-md-offset-3 w3gallery-grids">
      <a href="trips-details" class="imghvr-hinge-right figure" style="text-decoration: none">
      <img src="../../../assets/images/g1.jpg" alt="" /> 
      <div class="agile-figcaption">
      <h1>trips details</h1>
        <h4>Company ID: </h4>
        <h4>Start Date: </h4> 
        <h4>Start Time :</h4>
        <h4>End Date :</h4>
      </div>
    </a>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>