
<!-- banner-text -->
<body [ngStyle]="{'background-image': 'url(' + fullImagePath + ')'}">
<div class="banner-w3text"  >
  <div class="container">
    <div class="w3l-agile">
     
      <h2>Never Stop <span>Exploring</span></h2>
      <div class="banner-pw3l">
        <p>Start your destiny here . . </p>
      </div>
      <div class="w3lsmore">
        <a  class="button-pipaluk button--inverted" data-toggle="modal" data-target="#myModal1"> Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- //banner-text -->

<!-- Modal2 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
<div class="modal-dialog">
<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div>
        <h4>Trendy Travel</h4>
    <img src="../../assets/images/g1.jpg" alt=" " class="img-responsive"><br>
    
    
    
    <h5>To Travel is to take a journey into yourself.</h5>
    <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
</div>
</div>
<!-- //Modal2 -->
<!-- //banner -->
<!-- Stats -->
<div class="stats services news-w3layouts">
<div class="container">
<div class="stats-agileinfo agileits-w3layouts">
  <div class="col-sm-3 stats-grid">
    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9570' data-delay='.5' data-increment="100">9570</div>
    <h6>CUSTOMERS</h6>
  </div>
  <div class="col-sm-3 stats-grid">
    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
    <h6>TOURS</h6>
  </div>
  <div class="col-sm-3  stats-grid">
    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5000' data-delay='.5' data-increment="10">5000</div>
    <h6>DESTINATIONS</h6>
  </div>
  <div class="col-sm-3 stats-grid">
    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='110' data-delay='8' data-increment="1">50</div>
    <h6>TOUR TYPES</h6>
  </div>
  <div class="clearfix"></div>
</div>
</div>
</div>
<!-- //Stats -->
<!-- middle -->
<div class="middle-w3l">
  <div class="container">
    <div class="about-right-w3-agileits">
      <div class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="col-md-6 about-left-w3-agileits">
              <h6>Welcome to Travelstart Company</h6>
              <h3>Book your Dream Place</h3>
              <p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sollicitudin ante. Nullam condimentum mollis odio,
                sed aliquet dolor consectetur.</p>
              <div class="w3l-book">
                <h5>Prices Start at</h5>
                <h6><span>$</span> 786</h6>
              </div>
            </div>
            <div class="col-md-6 banner-text1">
              <img src="../../assets/images/slider1.jpg" alt=" ">
            </div>
            <div class="clearfix"> </div>
          </li>
          <li>
            <div class="col-md-6 about-left-w3-agileits">
              <h6>Welcome to Travelstart Company</h6>
              <h3>Book Buguon Beach</h3>
              <p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sollicitudin ante. Nullam condimentum mollis odio,
                sed aliquet dolor consectetur.</p>
              <div class="w3l-book">
                <h5>Prices Start at</h5>
                <h6><span>$</span> 11024</h6>
              </div>
            </div>
            <div class="col-md-6 banner-text1">
              <img src="../../assets/images/slider2.jpg" alt=" ">
            </div>
            <div class="clearfix"> </div>
          </li>
          <li>
            <div class="col-md-6 about-left-w3-agileits">
              <h6>Welcome toTravelstart Company</h6>
              <h3>Fern Hills River</h3>
              <p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sollicitudin ante. Nullam condimentum mollis odio,
                sed aliquet dolor consectetur.</p>
              <div class="w3l-book">
                <h5>Prices Start at</h5>
                <h6><span>$</span> 6782</h6>
              </div>
            </div>
            <div class="col-md-6 banner-text1">
              <img src="../../assets/images/slider3.jpg" alt=" ">
            </div>
            <div class="clearfix"> </div>
          </li>
          <li>
            <div class="col-md-6 about-left-w3-agileits">
              <h6>Welcome to Travelstart Company</h6>
              <h3>Aenean in egestas</h3>
              <p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed sollicitudin ante. Nullam condimentum mollis odio,
                sed aliquet dolor consectetur.</p>
              <div class="w3l-book">
                <h5>Prices Start at</h5>
                <h6><span>$</span> 7548</h6>
              </div>
            </div>
            <div class="col-md-6 banner-text1">
              <img src="../../assets/images/slider4.jpg" alt=" ">
            </div>
            <div class="clearfix"> </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!-- //middle -->
<!--portfolio-->
<!-- Gallery -->
<div id="gallery" class="gallery">
    <div class="container">
      <h3 class="title-w3-agile">Portfolio</h3>
    </div>
    <div class="agileinfo-gallery-row">
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g1.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g1.jpg" alt="" /> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
          <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g2.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g2.jpg" alt="" /> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
           <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g3.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g3.jpg" alt="" /> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
           <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g6.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g6.jpg" alt=""/> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
           <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g5.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g5.jpg" alt=""/> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
           <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g4.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g4.jpg" alt="" /> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
          <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g7.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g7.jpg" alt=""/> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
          <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 w3gallery-grids">
        <a href="../../assets/images/g8.jpg" class="imghvr-hinge-right figure" style="text-decoration: none">
        <img src="../../assets/images/g8.jpg" alt="" /> 
        <div class="agile-figcaption">
        <h4>Travelstart Company</h4>
           <p>Enjoy Your Travel</p>
        </div>
      </a>
      </div>
      <div class="clearfix"> </div>
  
    </div>
  </div>
</body>
